/* regole generali */
*{
   margin: 13px 0;
   padding: 0;
   box-sizing: border-box;
   font-family:monospace;
}

/* regole generali */

img{
   max-width: 100%;
   height: auto;
}
/* regole di debug */
[class*="col-"] {
  min-height: 10px;
  /* background-color: lightgreen; */
  /* border: solid 1px  #000; */
}

/* effects */
a:hover {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    opacity: 0.7;
}
a{
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}



img:hover {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    opacity: 0.7;
}
img{
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
/* effects */

.gray{
   background-color: rgba(250,250,250);
}

}
.w{
   font-weight: normal;
}
.relative{
   position: relative;
}

.il-b{
   display: inline-block;
}
.centratura-section{
   width: 75%;
   margin: 0 auto;
}

.text-center{
   text-align: center;
}
.text-right{
   text-align: right;
}

.dist-section{
   padding-top: 20px;
}
.centratura-head-foot{
   width: 80%;
   margin: 0 auto;
}


/* blocco 1 */

.m, html{
   margin-top: 0;
   margin-bottom: 0;
}

#fixed{
   width: 100%;
   position:fixed;
   top:0;
   left:0;
   background-color: white;
}

#jumbo-sec-dist{
   padding-top: 13px;
}

/* nav */
#nav-header > ul > li,
#nav-header > ul > li > a{
   list-style-type: none;
   color: black;
   display: inline-block;
   font-size: 13px;
   padding: 5px;
   padding-top: 0px;
}

#nav-header > ul > li > a:hover{
   cursor: pointer;
   text-decoration: underline;
}

#nav-header > ul > li{
   padding: 5px;
   margin:0;
}

#nav-header > ul {
   margin:0;
}
/* nav */

/* jumbo */
#background-jumbo{
   background-image:url(../img/helbiz-unlimeted-monopattini.jpg);
   height:600px;
   background-position: center;
   background-size: cover;
   opacity: 0.8;
}
/* jumbo */

/* text jumbo */
#background-jumbo h1{
   color: white;
   font-size: 55px;
   padding-top: 0;
}
#background-jumbo p{
   color: white;
   font-size: 21px;
}

.dist{
   margin-top: 200px;
}
/* text jumbo */
/* blocco 1 */



/* blocco 2 */
/* set text */
.set-h1-2{
   font-size: 30px;
   padding-top: 30px;
}
.set-p-2{
   font-size: 20px;
}
.set-a-2{
   color: #0070c8;
}

/* set text */
/* blocco 2 */

/* blocco 3 */
#container-phone{
   width: 250px;
}
.phone {
   max-height: 500px;
   margin-top: 70%;
}

#background-phone{
   background-image:url(../img/anziano.jpg);
   height:500px;
   background-position: bottom;
   background-size: cover;
}

.cont-left3, .cont-right3{
   padding-top: 20px;
   padding-bottom: 80px;
}

.cont-right3 p{
   font-size: 18px;
}
.cont-right3 h3{
   font-size: 21px;
}

.cont-left3 > h1{
   font-size: 30px;
}
/* blocco 3 */

/* blocco 4 */
/* top */
#background-scooter{
   background-image: url(../img/scooter.jpg);
   background-size: cover;
   height: 500px;
   opacity: 0.8;
}
/* top */


/* settaggio scritte */
#text4-top h2{
   color: white;
   font-size: 50px;
   text-align: center;
   padding-top: 70px;
}


#text4-top p,a{
   text-decoration: none;
   color: white;
   font-size: 25px;
   text-align: center;
   display:block;
   padding-left: 0;
}

/* settaggio scritte */



/* left */
.cont-left4, .cont-right4{
   height: 450px;
}


.cont-left4{
   background: linear-gradient(#41566a,#252f38) 50% no-repeat;
   position:relative;
   opacity: 0.9;
}
.cont-right4{

}
.cont-left4 > img {
   height: 160px;
   margin-bottom: 0;
   margin-top: 22px;
}

.cont-right4{
   background-image: url(../img/sfondo_info3.jpg);
   background-position: center;
   background-size: cover;
   opacity: 0.9;
}


/* left */
/* settaggio scritte left-right */
.set-h2-4{
   color: white;
   font-size: 40px;
   text-align: center;
   padding-top:17px;
}

.set-p-a-4{
   text-decoration: none;
   color: white;
   font-size: 20px;
   text-align: center;
   display:block;
}
/* settaggio scritte left-right */
/* blocco 4 */














/* versione telefono */
@media screen and (max-width:768px){

   #background-phone{
      background-position: bottom left;
   }

   #row-phone .cont-left3 h1{
      margin-top: 200px;
      font-size: 35px;
      padding: 0 70px;
   }

   #row-phone .cont-right3 h3,p{
      font-size: 20px;
   }

   .cont-left3, .cont-right3{
      padding-bottom: 0px;

   }

   .set-p-a-4{
      padding-left: 0;
   }

   .cont-right3 > h3,p{
      padding-bottom: 23px;
      padding-left: 70px;
   }

   .cont-left4 > img {
      margin-top: 0px;
   }

   #background-jumbo{
      background-position: left;
   }

   .dist{
      margin-top: 185px;
   }

   #title-logo{
      display: none;
   }

   #nav-header > ul > li,
   #nav-header > ul > li > a{
      list-style-type: none;
      color: black;
      display: inline-block;
      font-size: 10px;
      padding: 0px;
      padding-top: 9px;
   }

   #nav-header > ul > li{
      padding: 3px;
      margin:0;
   }

   #nav-header > ul > li > a{
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0;
      margin-right: 0;
   }

   #nav-header{
      text-align: center;
   }

   .set-h1-2{
      font-size: 35px;
      padding-top: 30px;
   }
   .set-p-2{
      font-size: 25px;
      padding-left: 0;
   }


}
/* versione telefono */





/* versione tablet */
@media screen and (min-width:769px) and (max-width:992px){
   .phone{
      padding-right: 20px;
   }

   .cont-left3 > h1{
      padding-left: 30px;
   }

   .cont-left4 > img {
      display:block;
      text-align: center;
      opacity: 0.7;
   }

   #background-jumbo h1{
      color: white;
      font-size: 50px;
      padding-top: 0;
   }

   #background-jumbo p{
      padding-left:0;
   }

   #background-jumbo{
      height: 650px;
   }

   .set-p-2{
      padding: 0 10px;
   }

   .cont-right3 > h3,p{
      margin-bottom: 0px;
      padding-left:60px;
   }

   #nav-header > ul > li > a{
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0;
      margin-right: 0;
   }



}
/* versione tablet */




/* ulteriori breakpoints */
@media screen and (min-width: 993px) and (max-width: 1026px){
   .cont-right3 > h3,p{
      margin-bottom: 0px;
      padding-left:40px;
   }
   .cont-left4 > img {
      display:block;
      text-align: center;
      opacity: 0.7;
   }

   #nav-header > ul > li > a{
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0;
      margin-right: 0;
   }
}



@media screen and (max-width: 1100px){
   .cont-left3 > h1{
      text-align: left;
   }

   .cont-right3 > h3,p{
      margin-bottom: 30px;
   }
   .cont-left4 > img {
      height: 142px;

   }

   #nav-header > ul > li > a{
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0;
      margin-right: 0;
   }
}
/* ulteriori breakpoints */
