/* regole generali */
*{
   margin: 13px 0;
   padding: 0;
   box-sizing: border-box;
   font-family:monospace;
}

img{
   max-width: 100%;
   height: auto;
}
/* regole generali */


/* effects */
a:hover {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
   opacity: 0.7;
}
a{
   -webkit-transition: all 250ms ease-in-out;
   -moz-transition: all 250ms ease-in-out;
   -ms-transition: all 250ms ease-in-out;
   -o-transition: all 250ms ease-in-out;
   transition: all 250ms ease-in-out;
}

img:hover {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
   opacity: 0.7;
}
img{
   -webkit-transition: all 250ms ease-in-out;
   -moz-transition: all 250ms ease-in-out;
   -ms-transition: all 250ms ease-in-out;
   -o-transition: all 250ms ease-in-out;
   transition: all 250ms ease-in-out;
}
/* effects */

/* regole da assegnare */
.gray{
   background-color: rgba(250,250,250);
}

.w{
   font-weight: normal;
}

.relative{
   position: relative;
}

.il-b{
   display: inline-block;
}

.centratura-section{
   width: 75%;
   margin: 0 auto;
}

.text-left{
   text-align: left;
}
.text-center{
   text-align: center;
}
.text-right{
   text-align: right;
}

.dist-section{
   padding-top: 20px;
}

.centratura-head{
   width: 80%;
   margin: 0 auto;
}
.centratura-foot{
   width: 80%;
   margin: 0 auto;
}
/* regole da assegnare */

/* blocco 1 */
.m, html{
   margin-top: 0;
   margin-bottom: 0;
}

#fixed{
   width: 100%;
   position:fixed;
   top:0;
   left:0;
   background-color: white;
}
#container-nav-hamburgher{
   display: none;
}
#jumbo-sec-dist{
   padding-top: 13px;
}

/* nav */
#nav-header > ul > li,
#nav-header > ul > li > a{
   list-style-type: none;
   color: black;
   display: inline-block;
   font-size: 13px;
   padding: 5px;
   padding-top: 0px;
}

#nav-header > ul > li > a:hover{
   cursor: pointer;
   text-decoration: underline;
}

#nav-header > ul > li{
   padding: 5px 0;
   margin:0;
}

#nav-header > ul {
   margin:0;
}

#nav-header{
   z-index: 999;
}

.cont-left4{
   z-index: -999;
}

.cont-right4{
   z-index: -999;
}
/* nav */

/* jumbo */
#background-jumbo{
   background-image:url(../img/helbiz-unlimeted-monopattini.jpg);
   background-position: center;
   background-size: cover;
   opacity: 0.8;
   margin-top: 0;
}
/* jumbo */

/* text jumbo */
#background-jumbo h1{
   color: white;
   font-size: 55px;
   padding-top: 0;
}

#background-jumbo p{
   color: white;
   font-size: 21px;
   padding: 0 20px;
}

.cont-play-app a {
   padding: 0 10px;
   margin-bottom: 150px;
}

.dist{
   margin-top: 200px;
}

.dist2{
   margin-top: 150px;
}

.dist3{
   margin-top: 100px;
}

.dist4{
   padding-bottom: 35px;
}

.border{
   border-bottom: 1px solid #565656;
}
/* text jumbo */
/* blocco 1 */


/* blocco 2 */
/* set text */
.set-h1-2{
   font-size: 30px;
   padding-top: 30px;
}
.set-p-2{
   font-size: 20px;
}
.set-a-2{
   color: #0070c8;
}
/* set text */

/* blocco 2 */


/* blocco 3 */
#container-phone{
   width: 250px;
}
.phone {
   max-height: 500px;
   margin-top: 70%;
   background-image: url(../img/phone-content.png);
   background-size:cover;
   border: 0.5px solid gray;
   border-radius: 35px;
}

#background-phone{
   background-image:url(../img/anziano.jpg);
   height:500px;
   background-position: bottom;
   background-size: cover;
}

.cont-left3, .cont-right3{
   padding-top: 20px;
   padding-bottom: 80px;
}

.cont-right3 p{
   font-size: 18px;
}

.cont-right3 h3{
   font-size: 21px;
}

.cont-left3 > h1{
   font-size: 30px;
}
/* blocco 3 */

/* blocco 4 */
/* top */
#background-scooter{
   background-image: url(../img/scooter.jpg);
   background-size: cover;
   opacity: 0.8;
}
/* top */


/* settaggio scritte */
#text4-top h2{
   color: white;
   font-size: 50px;
   text-align: center;
   padding-top: 70px;
}

#text4-top p,a{
   text-decoration: none;
   color: white;
   font-size: 25px;
   text-align: center;
   display:block;
   padding-left: 0;
}

#text4-top a{
   padding-bottom: 50px;
}

/* settaggio scritte */

/* left */
.cont-left4, .cont-right4{
   height: 450px;
}

.cont-left4{
   background: linear-gradient(#41566a,#252f38) 50% no-repeat;
   position:relative;
   opacity: 0.9;
}

.cont-left4 > img {
   height: 160px;
   margin-bottom: 0;
   margin-top: 22px;
}

.cont-right4{
   background-image: url(../img/sfondo_info3.jpg);
   background-position: center;
   background-size: cover;
   opacity: 0.9;
}

/* left */
/* settaggio scritte left-right */
.set-h2-4{
   color: white;
   font-size: 40px;
   text-align: center;
   padding-top:17px;
}

.set-p-a-4{
   text-decoration: none;
   color: white;
   font-size: 20px;
   text-align: center;
   display:block;
}


/* settaggio scritte left-right */
/* blocco 4 */



/* blocco 5 */
#background-social{
   background-image: url(../img/pachwork.jpg);
   height: 450px;
   background-size: cover;
}

#background-text{
   height: 175px;
   background-color: white;
}


#background-text a h6{
   padding-top: 30px;
   margin-bottom: 0;
   color: black;
}

#background-text a{
   margin-top: 0;
}

/* colore icone social */
.s{
   color:black;
}
/* colore icone social */
/* blocco 5 */



/* blocco 6 */
/* top */
footer .row #background-footer{
   background-color: #000;
   margin-bottom: 0;
}

.row-footer ul{
   list-style-type: none;
}


.row-footer ul li > h2{
   color: white;
   font-size: 23px;
   padding-bottom: 2px;
   padding-left: 18px;
}

.row-footer ul li a{
   text-align: left;
   font-size: 16px;
   color:#565656;
   padding-top: 3px;
   padding-left: 18px;
}
/* top */


/* center */
.center-foot a{
   text-align: left;
   font-size: 16px;
   color: white;
   padding-top: 9px;
   padding-left: 13px;
}
/* center */

/* bottom */
#g-a-play a{
   padding: 0 15px;
   margin-bottom: 50px;
}

#g-a-play a > img {
   padding-left: 8px;
   padding-top:50px;
}
/* bottom */
/* blocco 6 */




/* INIZIO MEDIA QUERIES */




/* versione telefono XS*/
@media screen and (max-width:768px){

   #background-phone{
      background-position: center left;
      height: 400px;
   }

   #row-phone .cont-left3 h1{
      margin-top: 200px;
      font-size: 40px;
      padding: 0 70px;
   }

   #row-phone .cont-right3 h3{
      font-size: 30px;
   }

   #row-phone .cont-right3 p{
      font-size: 25px;
   }

   .phone{
      margin-left:60px;
      height: 350px;

   }

   #phone2{
      margin-top:8px;
   }

   .cont-left3, .cont-right3{
      padding-bottom: 0px;
   }

   .set-p-a-4{
      padding-left: 10px;
      display: inline-block;
   }


   .cont-right3 > h3,p{
      padding-bottom: 23px;
      padding-left: 70px;
   }

   .cont-left4 > img {
      margin-top: 0px;
   }

   .cont-right4 > h2{
      padding: 0 20px;
      margin-top: 30%;
   }

   #background-jumbo{
      background-position: left;
   }

   .dist{
      margin-top: 185px;
   }

   .dist2{
      margin-top: 170px;
   }

   #title-logo{
      display: none;
   }

   #nav-header > ul > li,
   #nav-header > ul > li > a{
      list-style-type: none;
      color: black;
      display: inline-block;
      font-size: 10px;
      padding: 0px;
      padding-top: 9px;
   }

   #nav-header > ul > li{
      padding: 3px;
      margin:0;
   }

   #nav-header > ul > li > a{
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      font-size: 14px;
   }

   #nav-header{
      text-align: center;
   }

   .set-h1-2{
      font-size: 35px;
      padding-top: 30px;
   }
   .set-p-2{
      font-size: 25px;
      padding-left: 0;
   }

   .row-footer ul li > h2{
      padding-left: 0;
      padding-top: 35px;
      font-size:36px;
      text-align: center;
   }


   .row-footer ul li a{
      font-size: 20px;
      text-align: center;
      padding-left:0;

   }

   #s-icons{
      text-align: center;
   }

   #t-conditions a{
      text-align: center;
      font-size: 20px;
   }
}


/* versione telefono */




/* versione tablet MD*/
@media screen and (min-width:769px) and (max-width:992px){
   .phone{
      height: 400px;
      margin-top: 90%;
      margin-right: 60px;
   }

   .cont-left3 > h1{
      padding-left: 30px;
   }

   .cont-left4 > img {
      display:block;
      text-align: center;
      opacity: 0.7;
   }

   #background-jumbo h1{
      color: white;
      font-size: 50px;
      padding-top: 0;
   }

   #background-jumbo p{
      padding-left:0;
   }


   .set-p-2{
      padding: 0 10px;
   }

   .cont-right3 > h3,p{
      margin-bottom: 0px;
      padding-left:60px;
   }

   #nav-header > ul > li > a{
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0;
      margin-right: 0;
   }

   #s-icons a{
      text-align: left;
   }

   .set-p-a-4{
      padding-left: 0;
   }
}
/* versione tablet */




/* ulteriori breakpoints */
@media screen and (min-width: 993px) and (max-width: 1026px){
   .cont-right3 > h3,p{
      margin-bottom: 0px;
      padding-left:40px;
   }
   .cont-left4 > img {
      display:block;
      text-align: center;
      opacity: 0.7;
   }

   #nav-header > ul > li > a{
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0;
      margin-right: 0;
   }
}



@media screen and (max-width: 1100px){
   .cont-left3 > h1{
      text-align: left;
   }

   .cont-right3 > h3,p{
      margin-bottom: 30px;
   }
   .cont-left4 > img {
      height: 142px;

   }

   #nav-header > ul > li > a{
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0;
      margin-right: 0;
   }


}

@media screen and (max-width: 381px){
   #phone2{
      height: 100px;
      margin-top: 50px;
   }
   .phone{
      height: 300px;
      padding-left: 0;
      margin-right: 100px;
      margin-left: 0;
   }
}

@media screen and (max-width: 335px){
   #phone2{
      margin-top: 27px;
   }

   .set-h2-4{
      font-size: 39px;
   }

   #text4-top h2{
      font-size: 39px;
   }

   #text4-top p{
      font-size: 22px;
   }
}


@media screen and (min-width: 769px) and (max-width: 900px){
   #phone2{
      height: 120px;
      margin-top: 59px;
      padding-left: 50px;
   }
}

@media screen and (min-width: 901px) and (max-width: 1026px){
   #phone2{
      height: 135px;
      margin-top: 44px;
      padding-left: 50px;
   }
}



/* NAV HAMBURGHER */
@media screen and (max-width: 639px){
   #nav-header{
      display: none;
   }


   #container-nav-hamburgher{
      display:block;
      margin: 0 auto;
      width: 90%;
      background-color: #fff;
   }

   #container-nav-hamburgher a img{
      margin-top: 5px;
   }

   #nav-hamburgher {
      margin: 0;
      margin-right:10px;
      position:absolute;
      top:0;
      right:0;
   }
   #nav-hamburgher i{
      height: 30px;
      width: 30px;
   }

   #nav-hamburgher:hover{
      cursor: pointer;
      transform: scale(1.5);
      transition: all 150ms ease-in-out;
   }
}
/* NAV HAMBURGHER */
/* ulteriori breakpoints */



/* FINE MEDIA QUERIES */
